[Desktop Entry]
Encoding=UTF-8
Name=LUA
Comment=LUA P2P Cryptocurrency
Comment[fr]=LUA, monnaie virtuelle cryptographique pair à pair
Comment[tr]=LUA, eşten eşe kriptografik sanal para birimi
Exec=lua-qt %u
Terminal=false
Type=Application
Icon=lua128
MimeType=x-scheme-handler/lua;
Categories=Office;Finance;
